<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#db5945">
    <title>Movie Database | Search</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/searchBar.css">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/movieSearch.css">
    <link rel="stylesheet" href="/css/scrollBar.css">
    <link rel="stylesheet" href="/css/trailer.css">
    <link rel="stylesheet" href="/css/cast.css">
    <link rel="stylesheet" href="/css/tab.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/font/set1/css/fontello.css">
  </head>
  <body>
    <section id="header">
    <h3>Very Large</h3>
    <h1>Movie Database</h1>
  </section>
  
  
  <div class="how-it-works">
      <div class="hidden-content ">
        <div class="hidden-content-top">
          <h2>Powered by</h2>
          <img src="https://www.themoviedb.org/assets/static_cache/afc8955ea7e6aabcf0c9d8254346b928/images/v4/logos/312x276-primary-blue.png" alt="">
        </div>
        <div class="hidden-content-bottom">
          <p class="hidden-content-p">Open source API that extends it's features out to users. Learn more at <span><a href="https://www.themoviedb.org/">www.themoviedb.org</a></span></p>
        </div>
      </div>
      <button class="tab">How it Works</button>
    </div>
    

    <section id="body">
    
    <form class="search-container" action="/searchMovie" method="POST">
        <input type="text" id="search-bar" name="searchingMovie" placeholder="Search for anything">
        <button class="search-icon" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i></button>
        </form>

    
      <div class="results">
        
        
        <div style="background: url(<%="https:\//image.tmdb.org/t/p/original" + data.backdrop_path%>) fixed;background-position: center;background-size: cover;" class="description">
            <div class="backdrop">
              <div class="cover">
                <% if (data.poster_path != null ) { %>
                  <img class="img-cover" src=<%= "https:\//image.tmdb.org/t/p/w500" + data.poster_path%> alt="">
                <% } else { %>
                  <!--No Movie Cover-->
                <% } %>
              </div>
              <div class="info">
                <h1 class="title"><%=data.title%></h1>
                <% if (cert.results[0].release_dates[0].certification != null || data.runtime != 0) { %>
                  <h2><%= cert.results[0].release_dates[0].certification %> | <%= data.runtime %> min</h2>
                <% } else { %>
                  <!--No Runtime or Certification-->
                <% } %>
                
              </div>
              <% if (data.overview != null) { %>
                <p class="overview"><%= data.overview %></p>
              <% } else { %>
                  <!--No Overview-->
                <% } %>
            </div>
          </div>
          
          <% if( credit.cast[0] != null ) { %>
          
            <div id="horizontal-scroll">
              <h2>The Cast</h2>

              <% credit["cast"].forEach(function(actor){ %>
              
              <div class="person">
                <% if (actor.profile_path != null) { %>
                  <img src=<%="https:\//image.tmdb.org/t/p/w500" + actor["profile_path"] %> />
                <% } else { %>
                  <img src="https://www.cutter.com/sites/default/files/nopicture.jpg" />
                <% } %>
                
                <h3 class="name"><%= actor.name %></h3>
                <h4 class="character">(<%= actor.character %>)</h4>
              </div>
              
              <% }); %>

            </div>
          
          <% } else { %>
            <!--No Credits-->
          <% } %>
          
          
            
            
            
            <% if( video.results[0] != null ) { %>
              
              
              <div class="trailer">
              <h1 class="trailer-title">Videos</h1>
              <div class="media-box">

              <% video["results"].forEach(function(vid){ %>
              
                <a class="vid-box" href= <%= "https:\//www.youtube.com/watch?v=" + vid.key %> >
                  <img class="vid" src= <%= "https:\//img.youtube.com/vi/" + vid.key + "/0.jpg" %> alt=""><i id="play-vid" class="fa fa-play-circle" aria-hidden="true"></i>
                </a>
                
              <% }); %>
                
              </div>

            </div>
              
              
            <% } else { %>
            
            <!--No Videos-->
            
            <% } %>
            

            
            
            <% if( similar.results[0] != null ) { %>
            
            <div class="trailer">
              <h1 class="trailer-title">Similar to <%= data.title %></h1>

              <div class="recommend-box">
                
                <% similar["results"].forEach(function(cover){ %>

                <a href="https://webdevbootcamp-tyler1414.c9users.io/movie/id/<%=cover["id"]%>" class="recommended">
                  <img class="recommended" src=<%="https:\//image.tmdb.org/t/p/w500" + cover.poster_path %> alt="">
                </a>
                
                <% }); %>


              </div>

            </div>
            
            <% } else { %>
            
            <!--No Recommendations-->
            
            <%  }  %>
            
            

            
        
      </div>

    </section>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="/js/searchBar.js"></script>
  <script type="text/javascript" src="/js/tab.js"></script>
  </body>
</html>
